*/__pycache__/*

raw_data/

data/*.ipynb
data/*.csv
data/features/

exploration/*.ipynb
exploration/*.pdf
exploration/*.png

modelling/*.ipynb
modelling/tmp/*
modelling/*.db
modelling/*/*.png

*nohup*
modelling/config_files/tmp.txt
modelling/config_files/test.json

saved_images/*.png
modelling/control/best_*preds_*.csv
modelling/control/control_molecules.ipynb
